ipykernel
scikit-image
scikit-learn
numpy
matplotlib
scipy
#tensorflow
#tf-nightly-gpu
#keras
Pillow
opencv-python 
opencv-python-headless
face_recognition
annoy
torchvision
svgwrite
torchinfo
ipywidgets
torchview
graphviz
umap-learn
seaborn